<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"/>
	<title>关于我们</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<base th:href="${'http://'+#httpServletRequest.getLocalAddr()+':'+#httpServletRequest.getLocalPort()+#httpServletRequest.getContextPath()+'/'}"/>
	<link href="../static/css/main.css" th:href="@{css/main.css}" rel="stylesheet" />
</head>

<body class="white-bg">
	<div class="server">
		<div class="news-details">
			<div class="content">
				<div class="logo clearfix">
					<h1>关于我们</h1>
				</div>
				<p>说起门槛石，相信大家都不陌生，它是指房间的门槛，在家庭装修中非常常见。门槛石装修也是非常有讲究的，门槛石装修不仅有着过度、阻水等作用还有着非常好的装饰效果。下面装修网小编就为网友们介绍一下门槛石装修指南。</p>
				<p>中新网里约热内卢8月9日电 (记者 王曦)作为里约奥运会乒乓球男单比赛的最大黑马，尼日利亚选手阿鲁纳9日收获了一场败仗，他以0：4不敌现世界第一、中国选手马龙，无缘男单四强。</p>
				<p>不过，奥运会男单八强的成绩已经创造了非洲乒乓球运动的历史，阿鲁纳也在一夜间成为奥运乒乓球赛场最受关注的明星之一。当日，正是阿鲁纳的生日，赛后，全场观众集体为他高唱生日歌的一幕，让这个28岁的非洲小伙儿备受感动。“现在我已经没有任何遗憾了，我在这届奥运会上的表现还不错，尤其是击败波尔的比赛让我终身难忘。”</p>
				<p>据阿鲁纳讲，七年那年，一次偶然的机会，让当时正在街头玩耍的他接触到了乒乓球，“当时只是为了好玩，”阿鲁纳坦言，期初他并没有把乒乓球当成职业的想法，“只是感兴趣而已。”</p>
				<p>但不成想，随着训练的深入，他最终变得“不可自拔”。</p>
				<p>阿鲁纳告诉记者，在非洲，乒乓球运动的开展并不普及，训练场地也比较有限，“周一到周五，每天训练四个小时，没有比赛的时候一周还会有两次体能训练。”尽管非洲相对闭塞，但他知道，中国才是世界乒乓球运动的“圣地”，因此他对于中国实际上并不陌生。</p>
				<p>“我去过苏州、上海，”据他透露，2015年能够来到中国训练备战，还要感谢他效力于葡萄牙联赛时的教练推荐，“马龙是我的偶像，”说这话时，他笑了，一群采访他的中国记者也笑了。</p>
				<p>阿鲁纳说，在尼日利亚，最出名的还是足球运动员，乒乓球运动既不流行，也缺乏足够的培训人员或教练，但即使这样，他也不会为当初的选择感到后悔。“假如让我重新选择，我还是会选择乒乓球，因为这项运动太有意思了。”</p>
				<p>令阿鲁纳骄傲的是，与他同为乒乓球运动员的妻子如今已经转型为一名记者，“她每天都会关注，报道我的比赛，我这回打进八强一定会给非洲乒乓球运动员带来更多的信心。”他对记者说，通过好成绩的带动，更多球员有望在未来投入到这项运动中来，创造比他更好的成绩，“毫无疑问，这次奥运会令人终身难忘，来到这里真的很高兴。”(完)</p>
			</div>
		</div>
	</div>

	<script src="../static/js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
	<script src="../static/js/resize.fontsize.js" th:src="@{js/resize.fontsize.js}"></script>

</body>

</html>
